{{ include snippet_header.html }}

<div class="panel panel-default container">
    <div class="panel-heading row"><h3>Sign Up </h3></div>
    <div class="col-md-offset-3 col-md-5">
        <div class="well">
            <form action="{{ action_customer_sign_up_url }}" accept-charset="UTF-8" method="post">

                {{ include registrations/snippet_form.html }}

                <label for="customer_password">Password</label>
                <input id="customer_password" type="password" name="customer[password]" class="form-control"/>

                <label for="customer_password_confirmation">Password confirmation</label>
                <input id="customer_password_confirmation" type="password" name="customer[password_confirmation]"
                       class="form-control"/>

                <label>
                    <input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.
                </label>

                <input type="submit" value="Sign up" class="btn btn-info btn-block">
                <div class="clearfix"></div>
            </form>

        </div>
    </div>
</div>

{{ include snippet_footer.html }}
