<input name="utf8" type="hidden" value="✓"/>
<input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>

<label for="customer_name">Name</label>
<input id="customer_name" type="text" name="customer[name]" class="form-control"/>

<label for="customer_last_name">Last name</label>
<input id="customer_last_name" type="text" name="customer[last_name]" class="form-control"/>

<label for="customer_email">Email address</label>
<input id="customer_email" type="email" title="Please enter you email" placeholder="example@gmail.com"
       name="email" class="form-control"/>

<label for="customer_birth_date">Birth date</label>
<input class="form-control" type="date" name="customer[birth_date]" id="customer_birth_date">

<label for="customer_locale">Locale</label>
<select name="customer[locale]" id="customer_locale" class="form-control">
    {% for language in languages %}
    {% if language.locale == locale %}
    <option selected="selected" value="{{language.locale}}">{{language.name}}</option>
    {% else %}
    <option value="{{language.locale}}">{{language.name}}</option>
    {% endif %}
    {% endfor %}
</select>
