<!-- Navigation -->
<div class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container">
	 <!-- Collect the nav links, forms, and other content for toggling -->
	 <div class="col-xs-6 col-sm-8">
		<div class="phone"><div class="glyphicon glyphicon-earphone"></div> Tel. 964 582 136</div>
	 </div>
	 <div class="col-xs-3 col-sm-2">
		<a class="phone btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"><div class="glyphicon glyphicon-user"></div> Login</a>
		<ul class="dropdown-menu">
		  <li><a href="#">Register</a></li>
		  <li><a href="#">Login</a></li>
		</ul>
	 </div>
	 <div class="col-xs-3 col-sm-2 pull-left">
		<a class="phone btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"><div class="glyphicon glyphicon-globe"></div> Language</a>
		<ul class="dropdown-menu">
		 <li><a href="#">Español</a></li>
		 <li><a href="#">English</a></li>
		</ul>
	 </div>
	<!-- /.navbar-collapse -->
	</div>
</div>
