<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-1">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default dropdown-toggle lang" data-toggle="dropdown">
						LANG
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-left">
						{% for language in languages %}
							<li>
								<a href="{{ language.href }}">
									<img src="{{ language.image_src }}" alt="{{ language.locale }}" />
									{{ language.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="info top-text">
					<tel class=""><div class="glyphicon glyphicon-earphone icon"></div> 900 000 000</tel>
				</div>
			</div>
			<div class="col-xs-6 col-sm-5 pull-right">
<!--cart-->
				<div class="col-xs-6 col-sm-4 col-md-4 pull-right">
					<div class="homecart">
						<a href="{{ customer_carts_href }}">
							<i class="fa fa-shopping-cart fa-3x font-color1">
								<div class="homecart-quant">{{ shopping_cart.total_products }}</div>
							</i>
						</a>
						<div class="homecart-text">
							<a href="{{ customer_carts_href }}">
								My Cart
							</a>
						</div>
						<div class="homecart-pro">
							{% for scp in shopping_cart.shopping_carts_products %}
								<div class="homecart-item col-md-12">
									<div class="xs-img">
										<img  src="{{ scp.product.image_thumb_src }}" alt="">
									</div>
									<div class="homecart-atr"><a href="{{ scp.product.href }}">{{ scp.product.name }}</a><br>Quantity {{ scp.quantity }}</div>
								</div>
							{% endfor %}
							<div class="col-md-12">
								<a class="btn btn-default btn-block" href="{{ customer_carts_href }}">My cart ({{ shopping_cart.total_products }}))</a>
							</div>
						</div>
					</div>
				</div>
<!--/cart-->
				{% if current_customer != nil %}
					<div class="mainmenu col-xs-6 col-sm-5 col-md-5 top-text pull-right">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li class="dropdown">
                                <a href="{{ current_customer.href }}">
                                    <i class="glyphicon glyphicon-user icon text-fade"></i>
                                    <span class="link">&nbsp;My Data<i class="fa fa-angle-down"></i></span>
                                </a>
								<ul role="menu" class="sub-menu">
									<li>Welcome {{ current_customer.name }}</li>
									<li><a href="{{ current_customer.href }}" class="link"> My account </a></li>
									<li><a rel="nofollow" data-method="delete"  class="link" href="{{ customer_destroy_session_href }}"> Logout </a></li>
								</ul>
							</li>
						</ul>
					</div>
				{% else %}
					<div class="col-xs-6 col-sm-5 col-md-4 top-text pull-right">
						<a href="{{ customer_new_session_href }}" class="text-fade pull-right">
							<i class="glyphicon glyphicon-user icon text-fade"></i>&nbsp;Login
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container header">
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="img-responsive">
            <a href="{{ commerce.root_href }}">
                <img src="{{ commerce.image_src }}" />
            </a>
        </div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="social-icons pull-right">
			<ul class="nav navbar-nav">
				<li class="pull-right"><a href="#"><i class="fa fa-facebook icon-medium text-fade"></i></a></li>
				<li class="pull-right"><a href="#"><i class="fa fa-twitter icon-medium text-fade"></i></a></li>
				<li class="pull-right"><a href="#"><i class="fa fa-linkedin icon-medium text-fade"></i></a></li>
				<li class="pull-right"><a href="#"><i class="fa fa-google-plus icon-medium text-fade"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 pull-right">
		<form action="{{ action_search_url }}" accept-charset="UTF-8" method="post">

			<input name="utf8" type="hidden" value="✓">
			<input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">

			<div class="input-group">
				<input name="query_text" type="text" class="form-control" placeholder="Search for..." />
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search icon"></i></button>
				</span>
			</div>
		</form>
	</div>
</div>
</header>
<!-- /header -->
<!-- Page Content -->
<div class="container">
	<nav class="row" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="navbar-brand">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!--nav-->
		<div class="mainmenu pull-left">
			<ul class="nav navbar-nav collapse navbar-collapse">
				{% for category in categories %}
					<li class="dropdown">
						<a href="{{ category.href }}" class="text-fade">{{ category.name }}<i class="fa fa-angle-down"></i></a>
						<ul role="menu" class="sub-menu">
							{% for subcategory in category.children %}
								<a href="{{ subcategory.href }}" class="text-fade">
									<li>{{ subcategory.name }}</li>
								</a>
							{% endfor %}
					  </ul>
					</li>
				{% endfor %}
				<li class="dropdown"><a href="#">Contact</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
</div>

<div class="container">
	{% if notice_message != nil %}
		<div class="alert alert-success" role="alert">
			{{notice_message}}
		</div>
	{% endif %}

	{% if error_messages != nil and error_messages.size != 0 %}
		<div class="alert alert-danger" role="alert">
			<span class ='glyphicon glyphicon-exclamation-sign' aria-hidden ='true'></span>
			<strong>
				{{error_messages_title}}
			</strong>

			<ul>
				{% for msg in error_messages %}
					<li>{{msg}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
