%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml

%ul
  - @categories.each do |category|
    %li
      = link_to category.name, show_slug_categories_path(category.slug)
      - unless category.children.empty?
        %ul
          - category.children.each do |category_child|
            %li
              = link_to category_child.name, show_slug_categories_path(category_child.slug)




  
