%div.col-md-3
  = render 'layouts/components/side_bar_categories'

%div.col-md-9
  = render 'layouts/components/search_box'

  %div{:class => 'row carousel-holder'}
    %div.col-md-12
      = render 'layouts/components/carousel'

  %div.row
    = render 'layouts/components/products_list_grid'
