%h1 My account
%hr

%p
  Welcome to your account. Here you can administrate your addresses and orders.

%div.row
  %div.col-md-3
    %a{:href => orders_customers_path, :class => 'btn btn-default btn-block'}
      %i{:class => 'fa fa-list-ol'}
      My orders

%br

%div.row
  %div.col-md-3
    %a{:href => customers_addresses_path, :class => 'btn btn-default btn-block'}
      %i{:class => 'fa fa-building'}
      Edit my addresses

%br

%div.row
  %div.col-md-3
    %a{:href => edit_customer_registration_path, :class => 'btn btn-default btn-block'}
      %i{:class => 'fa fa-user'}
      Edit my account
