%li{id: 'commerce_meta_tags_keywords_input', class: 'string input optional stringish'}
  %label{for: 'commerce_meta_tags_keywords_input'}
    Keywords

  %input{id: 'commerce_meta_tags_keywords_input', type: 'text', name: 'commerce[meta_tags][keywords]', value: commerce.meta_tags['keywords']}


%li{id: 'commerce_meta_tags_description_input', class: 'string input optional stringish'}
  %label{for: 'commerce_meta_tags_description_input'}
    Description

  %input{id: 'commerce_meta_tags_description_input', type: 'text', name: 'commerce[meta_tags][description]', value: commerce.meta_tags['description']}