%div.col-md-3
  %p.lead Shop Name
  %div.list-group
    = render partial: 'layouts/components/side_bar_category', locals: { categories: @variables['categories']}

%div.col-md-9
  %div.row
    = render 'layouts/components/search_box'

  %div.row
    = render 'layouts/components/products_list_grid'