// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!

@import "active_admin/active_admin_responsive";

.cke_chrome {
  float: left!important;
  width: 100%!important;
  clear: both!important;
  margin-bottom: 15px!important;
}

.comments .active_admin_comment .active_admin_comment_meta {
  width: 200px;
}

.comments .active_admin_comment {
  max-width: 100%;
}

li#tags_groups, li#shopping_orders_statuses{
  border-top: 1px solid;
}