- if !@variables.nil? && !@variables['breadcrumbs'].blank? && @variables['breadcrumbs'].size > 1
  %div.row
    %div.col-xs-12
      %div.breadcrumb
        - @variables['breadcrumbs'].each_with_index do |bread, i|
          - if bread == @variables['breadcrumbs'][-1]
            %span.navigation-pipe
            = "> #{bread['name']}"
          - else
            - if i == 0
              %i{class: 'fa fa-home'}
            = link_to "> #{bread['name']}", bread['url']
