%div{:id => 'carousel-example-generic', :class => 'carousel slide', 'data-ride' => 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-target' => '#carousel-example-generic', 'data-slide-to' => '0'}
    %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '1'}
    %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '2'}

  %div.carousel-inner
    %div{:class => 'item active'}
      %img.slide-image{:src => 'http://placehold.it/800x300', :alt => ''}
    %div.item
      %img.slide-image{:src => 'http://placehold.it/800x300', :alt => ''}
    %div.item
      %img.slide-image{:src => 'http://placehold.it/800x300', :alt => ''}

  %a{:class => 'left carousel-control', :href => '#carousel-example-generic', 'data-slide' => 'prev'}
    %span{:class => 'glyphicon glyphicon-chevron-left'}
  %a{:class => 'right carousel-control', :href => '#carousel-example-generic', 'data-slide' => 'next'}
    %span{:class => 'glyphicon glyphicon-chevron-right'}
