- if pictures.any?
  %div{:id => 'carousel-example-generic', :class => 'carousel slide', 'data-ride' => 'carousel'}
    %ol.carousel-indicators
      %li.active{'data-target' => '#carousel-example-generic', 'data-slide-to' => '0'}
      %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '1'}
      %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '2'}

    %div.carousel-inner
      - pictures.each_with_index do |picture, index|
        - div_class = ''
        - div_class = 'active' if index == 0
        %div{:class => "item #{div_class}"}
          %img.slide-image{:src => picture, :alt => ''}

    %a{:class => 'left carousel-control', :href => '#carousel-example-generic', 'data-slide' => 'prev'}
      %span{:class => 'glyphicon glyphicon-chevron-left'}
    %a{:class => 'right carousel-control', :href => '#carousel-example-generic', 'data-slide' => 'next'}
      %span{:class => 'glyphicon glyphicon-chevron-right'}
