-# Navigation
%nav{:class => 'navbar navbar-inverse navbar-fixed-top', :role => 'navigation'}
  %div.container
    -# Brand and toggle get grouped for better mobile display
    %div.navbar-header
      %button{:type => 'button', :class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand Start Bootstrap


    -# Collect the nav links, forms, and other content for toggling
    %div{:class => 'collapse navbar-collapse', :id => 'bs-example-navbar-collapse-1'}
      %ul{:class => 'nav navbar-nav pull-right'}
        %li
          %a About

        - @languages.each do |lang|
          - image_src = ''
          - image_src = lang.flag.url(:medium) if lang.flag.file?

          %li
            %a{href: change_locale_path(lang.locale)}
              = image_tag image_src, { alt: lang.locale, title: lang.name}

        %li
          - if current_user.nil?
            = link_to 'Login', new_user_session_path
          - else
            %a My account
