- @variables['tags_group'].each do |group|
  = link_to group.name, '#', :class => 'list-group-item'
  - if group.tags.any?
    - group.tags.each do |tag|
      = link_to "#{tag.name} (#{tag.products.size})", tag.href, :class => 'list-group-item list-group-subitem'

