// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "font-awesome";
@import "animate";
@import "active_admin/mixins";
@import "active_admin/base";

//= depend_on_asset "active_admin/nested_menu_arrow_dark.gif"
//= depend_on_asset "active_admin/orderable.png"
//= depend_on_asset "active_admin/ylosix_logo.svg"

.editor_html {
  height: 450px;
  width: 100%;
}

.choices-subgroup {
  margin-left: 25px;
  margin-top: 2px;
}

#header {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//VARIABLES
$color-1: #0681AB;
$color-2: #000000;
$grey-dark: #666666;
$grey-medium: #e6e6e6;
$grey-soft: #F5F5F5;
$color-alert: #dd4b39;
$color-success: #00a65a;
$color-info: #00c0ef;
$color-border-1: #1276AB;
$color-border-alert: #d73925;
$color-border-success: #398439;
$color-border-info: #00acd6;
$color-background:#ecf0f5;

$font: 'Roboto', sans-serif;

@mixin button($button-color, $button-border) {
  background: $button-color !important;
  border-radius: 6px !important;
  border: none !important;
  font-weight: normal !important;
  text-transform: capitalize;
  padding: 10px 25px !important;
  margin: 0 !important;
  color: #fff !important;
  font-size: 15px !important;
  line-height: 15px !important;
  border:1px solid $button-border;
}

@mixin small-button($button-color, $button-border) {
  background: $button-color !important;
  border: none !important;
  font-weight: normal !important;
  text-transform: capitalize;
  padding: 3px 8px;
  color: #fff !important;
  font-size: 13px !important;
  line-height: 13px !important;
  text-decoration: none !important;
  margin: 0 7px !important;
  border-radius: 0;
  border:1px solid $button-border;
}

//RESETS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-shadow: none !important;
  text-shadow: none !important;
}

//FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,700italic);

//ALERTS
body.logged_in .flash.flash_notice {
  color: $color-success;
  boder: none;
  padding: 7px 15px;
  border-bottom: 0;
  border: 1px solid $color-success;
  margin: 0 20px;
}

.flash_alert {
  color: $color-alert !important;
  font-weight: 400 !important;
}

//LOGIN
body.logged_out {
  background-color: #ECF0F5;
}

body.logged_out .flash {
  text-align: center;
}

.flash_alert {
  color: $color-alert;
}

body.logged_out #content_wrapper {
  width: 350px;
  margin: 70px auto 0;
}

body.logged_out h2 {
  padding: 10px;
  text-align: left;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  color: $grey-dark;
  border-bottom: 1px solid #f4f4f4;
  margin: -10px -10px 0px -10px;
}

.input > label {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

form fieldset ol > li label {
  text-align: left !important;
  width: 50% !important;
}

form fieldset.inputs ol > li > label{
  width:100%!important;
}

.inputs li {
  margin-bottom: 15px;
  float: left;
  width: 98%;
}

form fieldset ol > li.has_many_container h3 {
  font-size:14px ;
  font-weight: 500;
}

fieldset.actions {
  padding:15px;
}

#informacion-general td:first-child {
  width: 20%;
}

form fieldset > ol > li fieldset:not(.has_many_fields) ol {
  padding: 0 0 0 20%;
  width: 80%;
}

.choices-group>li {
  float: left;
  width: 24%;
  border-left: 1px solid #f6f6f6!important;
  padding-left: 5px!important;
}

.choices-subgroup {
  margin-left:18px;
}

.choices-subgroup .choice label, .choices-subgroup label {
  width: 100%!important;
  font-weight: 500;
}


body.logged_out #login form fieldset input[type=text], body.logged_out #login form fieldset input[type=email], body.logged_out #login form fieldset input[type=password] {
  width: 93%;
}

form fieldset > ol > li.boolean {
  float: left;
  width: inherit!important;
  clear: none;
}

form fieldset > ol > li.boolean label {
  text-align: left;
  padding-left: 0;
  width: inherit!important;
}

form .buttons, form .actions {
  margin-top: 0;
}

#admin_user_submit_action {
  width: 100%;
  text-align: center;
}

#admin_user_submit_action > input, .button {
  @include button ($color-1 , $color-border-1);
}

body.logged_out #login a {
  float: right;
  margin-top: 0;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#session_new > fieldset > ol {
  background: none;
}

//HOME
/* {
  background: none;
  border-radius: 0;
  margin-bottom: 30px;
}*/


.columns > .column:first-child {
  color: $color-1;
  font-weight: 500;
}

.columns {
  border-bottom: 1px solid $grey-soft;
  margin-bottom: 0;
  padding: 10px 0;
}

//GENERALS
body {
  font-family: $font;
  font-size: 15px;
}

.profiler-results {
  display: none;
}

#wrapper {
  display: block;
  width: 100%;
  background-color: $color-background;
}

select {
  padding: 5px!important;
  border-color: $grey-medium;
}

//HEADER
#header {
  background: $color-1;
  padding: 2px 0 0 0;
  position: relative;
  border:none;
}

#header h1 {
  color: #fff;
  margin-bottom: 0;
  padding-left: 40px;
  float: right;
  text-align: right;
  width: initial;
  padding: 0px;
  margin-right: 38px;
}

.site_title {
  width: 50%;
  float: left;
  padding: 0 30px 20px 40px;
}

#header #tabs {
  float: left;
  margin-left: 30px;
  clear: left;
  width: initial;
}

#header #utility_nav {
  float: right;
  clear: right;
  padding: 5px 26px 5px;
}

#header a, #header a:link {
  color: #fff;
}

//MENU
#header ul.tabs {
  vertical-align: top;
}

#header ul.tabs > li {
  text-align: center;
  margin-right:10px;
}

#header ul.tabs > li ul li{
  text-align: left;
}

//menu hover titles
#header ul.tabs > li.has_nested:hover > a {
  border-bottom: 0;
  color: #fff;
  font-weight: 500;
}

#header ul.tabs > li.current > a, #header ul.tabs > li.has_nested.current > a {
  background: none;
  color: #fff;
  font-weight: 700!important;
}

#header ul.tabs > li.has_nested.current > a {
  background: image-url('active_admin/orderable_w.png') no-repeat calc(98% - 5px) 114%;
}

#header ul.tabs > li a:hover,
#header ul.tabs > li.has_nested > a:hover {
  border-radius: 0;
  color: #fff;
  border-bottom: none !important;
  font-weight: 500;
}

#header ul.tabs > li:hover a {
  background: none;
}

#header ul.tabs > li.has_nested > a:hover, #header ul.tabs > li.has_nested:hover > a{
background: image-url('active_admin/orderable_w.png') no-repeat calc(98% - 5px) 114%!important;
}

#header ul.tabs > li.has_nested > a {
  background: image-url('active_admin/orderable_w.png') no-repeat calc(98% - 5px) 114%;
  padding-right: 20px;
}

#header ul.tabs > li ul {
  margin-top: 2px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid $color-1;
  min-width: 200px;
}

#header ul.tabs > li ul li a {
  color: #000;
  border:0;
  border-bottom:1px solid $grey-soft;
  border-radius: 0;
  margin:0 10px;
}

#header ul.tabs > li ul li a:hover {
  color: #000;
  border:0;
  background-color: $grey-soft;
  border-bottom:1px solid $grey-soft!important;
}

#header ul.tabs > li ul li:last-child a , #header ul.tabs > li ul li:last-child a:hover {
  border-bottom: 1px solid #fff;
}


#header ul.tabs > li ul li:hover #header ul.tabs > li {
  background: #fff;
  border-radius: 0;
  font-weight: 700;
}

.header-item>li:hover a {
  background: none;
  background-color: none;
}

.header-item>li>ul>li:hover a {
  background: $grey-soft!important;
}

li#tags_groups, li#shopping_orders_statuses {
  border-top: 1px solid #0681AB!important;
  padding-top: 10px;
}

#logout > a:link, #logout > a:hover, #logout > a:visited, #logout > a:active {
  padding: 0 11px !important;
  border-radius: 5px !important;
  color: #ffffff !important;
  background-color: $color-alert !important;
}

//TITLE BAR
#title_bar {
  border: none;
  height: 25px;
  background: none;
  padding: 25px 40px 5px 40px;
}

#title_bar h2 {
  font-weight: 500;
  color: $grey-dark;
  font-size: 1.7em;
}

#titlebar_left {
  height: 25px !important;
}

#titlebar_right {
  position: absolute;
  bottom: 6px;
  right: 30px;
  height: auto !important;
}

.breadcrumb {
  float: right;
  display: none;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb a:active, .breadcrumb .breadcrumb_sep {
  color: #fff;
}

.action_item a:link, .action_item a:visited, .action_item a:active {
  @include button ($color-success , $color-border-success);
}

//CONTENT
#content_wrapper>#active_admin_content, .tab-content fieldset.inputs, #main_content>form>fieldset.inputs {
  padding: 0px!important;
  position: relative;
  border-radius: 3px!important;
  background: #ffffff!important;
  border-top: 3px solid $color-1;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1)!important;
}

form fieldset.inputs{
  background: none;
}

body.logged_out #login {
  padding: 10px;
}

#wrapper>#active_admin_content {
  padding:25px 30px;
  position: relative;
}

#active_admin_content #main_content_wrapper #main_content {
  margin-right: 0;
  position: relative;
  min-height: 550px;
}

#main_content_wrapper {
  width: 75%;
}

#sidebar {
  float: left;
  width: 270px;
  margin-left: -270px;
  position: absolute;
  right: 20px;
  border: 1px solid #999;
  background: #f6f6f6;
  box-shadow: 0 0 7px #999 !important;
  display: none;
}

.view_filter {
  @include small-button ($color-info , $color-border-info);
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 30px;
  z-index: 900;
}

.table_tools {
  position: absolute;
  top: -21px;
  right: 80px;
  z-index: 900;
}

.table_tools_segmented_control li a:hover{
  background: $color-1!important;
}

.table_tools_segmented_control li:first-child a {
  border-radius:initial;
  border:none;
  background: $color-border-info;
  color: #fff;
  font-weight: 500;
  padding: 3px 14px 4px;
}
.table_tools_segmented_control li:last-child a {
  border-radius:initial;
  border:none;
  background: $color-info;
  color: #fff;
  font-weight: 500;
  padding: 3px 14px 4px;
}

.scopes li .count {
  color: #fff;
}

.batch_actions_selector > a:link {
  @include small-button ($color-info , $color-border-info);
}

.batch_actions_selector > a:link::after {
  display: none;
}

#main_content>.panel {
  margin:10px 0 30px;
}

.panel, .paginated_collection_contents {
  padding: 0px !important;
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #0681AB;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  margin-bottom:5px;
}


.paginated_collection_contents tr {
  margin:0 20px;
}

table.index_table th:last-child{
  border-right:none;
}

.section > h3, .panel > h3, form fieldset legend span {
  padding: 10px;
  text-align: left;
  background: #fff;
  font-weight: 500;
  font-size: 20px;
  color: $grey-dark;
  border:none;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  margin-bottom: 0;
}

legend {
  float: left;
  margin-bottom:5px!important;
}

table.index_table th {
  font-size: 13px;
  background: none;
  font-weight: 500;
}

table.index_table th.sorted-asc, table.index_table th.sorted-desc {
  background: $grey-soft;
}

.status_tag.yes {
  background: $color-success;
}

.status_tag.no {
  background: $color-alert;
}

table.index_table tr.even td {
  background: #fbfbfb !important;
}

table.index_table td {
  padding: 10px 15px;
  vertical-align: middle;
}

table.index_table tr{
  border-bottom: 1px solid $grey-soft;
}


table.index_table tr:last-child {
  border-bottom: none;
}

table.index_table tr:hover {
  background: $grey-soft;
}

table.index_table tr.selected td {
  background: none;
}
 td.col-actions {
 padding:10px 5px!important;
 }

.col-selectable, .col-id, .col-enabled, .col-actions, .col-visible, .col-default {
  text-align: center;
}

.view_link {
  @include small-button ($color-info , $color-border-info);
  display: none;
}
.set_link {
  @include small-button ($color-info , $color-border-info);
}

.edit_link {
  @include small-button ($color-success , $color-border-success);
}

.delete_link {
  @include small-button ($color-alert , $color-border-alert);
  margin-right: 0px!important;
  margin-left: 35px!important;
}

.clone_link {
  @include small-button ($color-1 , $color-border-1);
}

.pagination span.page.current:not(.disabled):hover, .pagination span.page.current {
  background: $grey-medium;
  color: #000;
}

.pagination a {
  background: $grey-soft !important;
}

.pagination a, .pagination span.page.current {
  border-radius: 0;
  margin-right: 4px;
  padding: 4px 5px;
  font-size: 14px;
}


.sidebar_section {
  margin-bottom: 0 !important;
}

.clear_filters_btn, form fieldset.buttons li.cancel a, form fieldset.actions li.cancel a {
  @include button ($color-alert , $color-border-alert);
  float: right;
  margin-left: 10px;
}

form input[type=submit], form input[type=button], form button {
  @include button ($color-success , $color-border-success);
  text-shadow: none;
}

li.cancel {
  margin-left: 10px;
}

.ui-tabs-nav li a {
  @include small-button ($color-info , $color-border-info);
}

.ui-tabs-nav li:first-child a, .ui-tabs-nav li:last-child a {
  border-radius: 0;
}

.ui-tabs-nav {
  border-radius: 0;
  background: none;
  margin-bottom:-1px;
}

.ui-tabs-nav li.ui-tabs-active a {
  background: $color-1 !important;
}

.tab-content {
  border: none;
  padding-top:0px;
}

.tab-content .columns {
  border-bottom: none;
}

.cke_top, .cke_bottom {
  background:$grey-soft!important;
}

.fragments-group {
  border: none;
}

.fragments legend {
  width: 20%;
}

.fragments label {
  width: 100%!important;
}

.input > label, form fieldset > ol > li fieldset legend.label label {
  color: $color-1;
  font-weight: 500;
  margin-bottom:5px;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
  width: calc(99% - 15px);
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
}

#footer {
  text-align: center;
}

#footer .logo {
  width: 150px;
  height: 90px;
  margin: 0 auto;
  background: image-url('active_admin/ylosix_logo.svg');
}

//MEDIA QUERIES
/* Medium Devices, Desktops */
@media only screen and (max-width: 1050px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 450px) {
  body.logged_out #content_wrapper {
    width: 280px;
  }
  body.logged_out #content_wrapper #active_admin_content {
    padding: 10px 10px;
  }
  body.logged_out h2 {
    margin: -10px -20px 0 -20px;
  }
}

table.index_table th.sorted-desc a {
  background-position: 0 -56px;
}

table.index_table th.sorted-asc a {
  background-position: 0 -27px;
}

form fieldset > ol > li p.inline-hints {
  margin: 0.5em 0 0 10px;
}